<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>http</display-name>
    <servlet-name>http</servlet-name>
    <servlet-class>http</servlet-class>
  </servlet>
  <context-param>
    <param-name>Univ Name</param-name>
    <param-value>Gju</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>http</servlet-name>
    <url-pattern>/http</url-pattern>
  </servlet-mapping>
  <display-name>ServletConfig</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>http2</display-name>
    <servlet-name>http2</servlet-name>
    <servlet-class>http2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>http2</servlet-name>
    <url-pattern>/http2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>success</display-name>
    <servlet-name>success</servlet-name>
    <servlet-class>success</servlet-class>
    
     <init-param>
  <param-name>college name</param-name>
  <param-value>SAITM-G</param-value>
  </init-param>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>success</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
</web-app>